.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  grid-template-columns: repeat(8, 40px);
  gap: 2px;
  background-color: #333;
  border: 4px solid #333;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #ddd;
}

.holdingArea {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 120px;
  margin-top: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.blockRow {
  display: flex;
}

.blockCell {
  width: 40px;
  height: 40px;
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 40%),
    inset -2px -2px 3px rgb(0 0 0 / 20%);
}

.draggingBlock {
  position: absolute;
  pointer-events: none;
  opacity: 0.8;
  transform: translate(-50%, -50%);
}
